config/local.coffee
config/local.cson
config/local.hjson
config/local.js
config/local.json
config/local.json5
config/local.properties,
config/local.xml
config/local.yaml
config/local.yml
config/local-*.coffee
config/local-*.cson
config/local-*.hjson
config/local-*.js
config/local-*.json
config/local-*.json5
config/local-*.properties,
config/local-*.xml
config/local-*.yaml
config/local-*.yml